@keyframes vibe {
    0% {color: #76ea6e}
    25% {color: #86eac7}
    50% {color: #a1c1ea}
    75% {color: #eac0dc}
    100% {color: #74ea6a}
}

body{
    background-color: #f6f6f6;

    font-family: Arial, sans-serif;
    font-size: large;
    color: #333333;

    margin-top: 15%;
    margin-left: 10%;
}

.header{
    font-size: 400%;
    margin: 0;
}

.fade{
    animation-name: vibe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}