@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --text-primary-dark: #6d6d6d;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-third: #484857;
    --bg-nav-hover: #343444;
    --transition-speed: 600ms;
    --transition-speed-sidebar: 200ms;


    /*  Pastel color pallet  */
    --pastel-pink-primary: #fad2e1;
    --pastel-pink-secondary: #d5a7d5;
    --pastel-blue-primary: #b2f7ef;
    --pastel-blue-secondary: #7bdff2;
    --pastel-green-primary: #abf1bc;
    --pastel-green-secondary: #8ce68c;
    --pastel-yellow-primary: #fcf5c7;
    --pastel-yellow-secondary: #ffee93;
    --pastel-purple-primary: #e7c6ff;
    --pastel-purple-secondary: #c8b6ff;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--pastel-pink-secondary);
    border-radius: 0.175rem;
}