:root{
    /* Text Colours */
    --darkText: #535353;
    --lightText: #ffffff;
    --Niceblue: #5295F1;
}

body{
    color: var(--darkText);
    background-color: white;
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}