.nav-bar{
    top: 0;
    background-color: gray;
    position: sticky;
    z-index: 999;
}

.nav-link{
    height: 3rem;
    justify-content: center;
    display: flex;
    list-style: none;
}

.nav-link-item{
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--lightText);
    transition: 0.3s;
}
.nav-link-item:hover{
    background-color: lightblue;
}
.nav-link-item-active{
    background-color: var(--Niceblue);
    color: var(--lightText);
}