.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

.card:nth-child(1) {
    grid-area: a;
}
.card:nth-child(2) {
    grid-area: b;
}
.card:nth-child(3) {
    grid-area: c;
}
.card:nth-child(4) {
    grid-area: d;
}
.card:nth-child(5) {
    grid-area: e;
}
.card:nth-child(6) {
    grid-area: f;
}
.card:nth-child(7) {
    grid-area: g;
}
.card:nth-child(8) {
    grid-area: h;
}
.card:nth-child(9) {
    grid-area: i;
}
.card:nth-child(10) {
    grid-area: j;
}
.card:nth-child(11) {
    grid-area: k;
}
.card:nth-child(12) {
    grid-area: l;
}
.card:nth-child(13) {
    grid-area: m;
}