.container{
    height: 100%;
    display: grid;
    gap: 1rem;
    padding: 1rem;

    grid-template-areas:
        'a b c d'
        'e m m f'
        'g m m h'
        'i j k l';

    grid-template-columns: 240px auto auto 240px;
}