.container{
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.heading{
    color: var(--darkText);
}

.nav-link{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item{
    padding-right: 2rem;
}

.nav-link-text{
    color: var(--darkText);
}