.container {
    width: 100%;
    background-color: white;
}

.wrapper {
    display: flex;
    background-color: #6649b8;
    justify-content: center;
    align-items: center;
    transition: var(--transition-speed);
}

/* Small screen */
@media only screen and (max-width: 600px) {
    .container{
        height: 100vh;
    }

    .wrapper {
        height: calc(100vh - 5rem);
    }
}

/* Large */
@media only screen and (min-width: 600px) {
    .container {
        height: calc(100vh + 5rem);
    }

    .wrapper {
        height: 100vh;
    }
}