:root{
    --leftSideColor: #f6f6f6;
    --rightSideColor: #ff96d8;
}

@keyframes Rainbow {
    0% {color: #fc0000
    }
    25% {color: #b07701
    }
    50% {color: #0037ff
    }
    75% {color: #da00ff
    }
    100% {color: #ff006d
    }
}

body{
    background-color: var(--leftSideColor);

    font-family: 'Kumbh Sans', sans-serif;
    font-size: large;
    color: #333333;

    margin-top: 15%;
    margin-left: 10%;
}

h1{
    font-weight: 300;
    font-size: 600%;
    color: #333333;
}

.bold{
    font-weight: 700 ;
}

.leftSideColour{
    color: var(--leftSideColor);
}

.rightSideColour{
    color: var(--rightSideColor);
}

.vibe{
    animation-name: Rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 0;
    top: 0;
    overflow: hidden;
    padding-top: 20px;
}

.centeredLeft{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(36%, -70%);
    text-align: center;
}

.centeredRight{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-160%, -70%);
    text-align: center;
}

.left{
    left: 0;
    background: var(--leftSideColor);
}

.right{
    right: 0;
    background: var(--rightSideColor);
}
