:root{
    --offWhite: #f6f6f6;
    --offPink: #ff96d8;
    --offBlack: #333333;
}

@keyframes Rainbow {
    0% {color: #fc0000
    }
    25% {color: #b07701
    }
    50% {color: #0037ff
    }
    75% {color: #da00ff
    }
    100% {color: #ff006d
    }
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 300;
}

h1{
    font-weight: inherit;
    font-size: 10vh;
}

.split{
    height: 100vh;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.leftSide{
    left: 0;
    background: var(--offWhite);
}
.rightSide{
    right: 0;
    background: var(--offPink);
}

.centerLeft{
    position: relative;
    text-align: left;
    left: 2%;
    top: 35vh;

    color: var(--offWhite);
}

.centerRight{
    position: relative;
    text-align: right;
    right: 2%;
    top: 35vh;

    color: var(--offPink);
}
